version: "3.8"

# Define an overlay network for swarm services
networks:
  # demo:
  #   driver: overlay
  swarmlab_net:
    driver: overlay
    external: true
  bnet:
    # driver: bridge

# YAML anchors to avoid duplication (optional)
x-etcd-env: &etcd_env
  ETCD_LISTEN_PEER_URLS: "http://0.0.0.0:2380"
  ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
  ETCD_INITIAL_CLUSTER: "etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380"
  ETCD_INITIAL_CLUSTER_STATE: "new"
  ETCD_INITIAL_CLUSTER_TOKEN: "swarmlab"
  # ETCD_UNSUPPORTED_ARCH: "arm64"

x-haproxy-env: &haproxy_env
  ETCDCTL_ENDPOINTS: "http://etcd1:2379,http://etcd2:2379,http://etcd3:2379"
  PATRONI_ETCD3_HOSTS: "'etcd1:2379','etcd2:2379','etcd3:2379'"
  PATRONI_SCOPE: "swarmlab"
  PATRONI_CITUS_GROUP: "0"
  PATRONI_CITUS_DATABASE: "citus"
  PGSSLMODE: "verify-ca"
  PGSSLKEY: "/etc/ssl/private/ssl-cert-snakeoil.key"
  PGSSLCERT: "/etc/ssl/certs/ssl-cert-snakeoil.pem"
  PGSSLROOTCERT: "/etc/ssl/certs/ssl-cert-snakeoil.pem"

services:
  registry:
    image: registry:2
    networks:
      - swarmlab_net
      - bnet
    ports:
      - "5005:5005"
    deploy:
      placement:
        constraints:
          - "node.hostname == ip-172-31-25-244"

  etcd:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    environment:
      <<: *etcd_env
      hostname: "{{.Service.Name}}{{.Task.ID}}"
    hostname: "{{.Service.Name}}{{.Task.ID}}"
    command: >
      etcd --name "${hostname}" --initial-advertise-peer-urls http://${hostname}:2380
    deploy:
      restart_policy:
        condition: any
      # https://docs.docker.com/reference/compose-file/deploy/#mode
      mode: global
      # replicas: 3
      endpoint_mode: dnsrr ## vip 


  # etcd1:
  #   image: ${PATRONI_TEST_IMAGE:-patroni-citus}
  #   networks:
  #     - swarmlab_net
  #   environment:
  #     <<: *etcd_env
  #   hostname: etcd1
  #   command: >
  #     etcd --name etcd1 --initial-advertise-peer-urls http://etcd1:2380
  #   deploy:
  #     restart_policy:
  #       condition: any

  # etcd2:
  #   image: ${PATRONI_TEST_IMAGE:-patroni-citus}
  #   networks:
  #     - swarmlab_net
  #   environment:
  #     <<: *etcd_env
  #   hostname: etcd2
  #   command: >
  #     etcd --name etcd2 --initial-advertise-peer-urls http://etcd2:2380
  #   deploy:
  #     restart_policy:
  #       condition: any

  # etcd3:
  #   image: ${PATRONI_TEST_IMAGE:-patroni-citus}
  #   networks:
  #     - swarmlab_net
  #   environment:
  #     <<: *etcd_env
  #   hostname: etcd3
  #   command: >
  #     etcd --name etcd3 --initial-advertise-peer-urls http://etcd3:2380
  #   deploy:
  #     restart_policy:
  #       condition: any

  haproxy:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    env_file:
      - docker/patroni.env
    hostname: haproxy
    ports:
      - "5000:5000"  # Access to the coordinator primary
      - "5001:5001"  # Load-balancing across worker primaries
    command: haproxy
    environment:
      <<: *haproxy_env
    deploy:
      restart_policy:
        condition: any
      mode: global

  coord:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    env_file:
      - docker/patroni.env
    hostname: coord{{.Task.Slot}}
    environment:
      <<: *haproxy_env
      PATRONI_NAME: "coord{{.Task.Slot}}"
    deploy:
      restart_policy:
        condition: any
      mode: global
      # placement:
      #   spread:
      #     - node.id

  # coord1:
  #   image: ${PATRONI_TEST_IMAGE:-patroni-citus}
  #   networks:
  #     - swarmlab_net
  #   env_file:
  #     - docker/patroni.env
  #   hostname: coord1
  #   environment:
  #     <<: *haproxy_env
  #     PATRONI_NAME: "coord1"
  #   deploy:
  #     restart_policy:
  #       condition: any

  # coord2:
  #   image: ${PATRONI_TEST_IMAGE:-patroni-citus}
  #   networks:
  #     - demo
  #   env_file:
  #     - docker/patroni.env
  #   hostname: coord2
  #   environment:
  #     <<: *haproxy_env
  #     PATRONI_NAME: "coord2"
  #   deploy:
  #     restart_policy:
  #       condition: any

  # coord3:
  #   image: ${PATRONI_TEST_IMAGE:-patroni-citus}
  #   networks:
  #     - swarmlab_net
  #   env_file:
  #     - docker/patroni.env
  #   hostname: coord3
  #   environment:
  #     <<: *haproxy_env
  #     PATRONI_NAME: "coord3"
  #   deploy:
  #     restart_policy:
  #       condition: any

  work1-1:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    env_file:
      - docker/patroni.env
    hostname: work1-1
    environment:
      <<: *haproxy_env
      PATRONI_NAME: "work1-1"
      PATRONI_CITUS_GROUP: "1"
    deploy:
      restart_policy:
        condition: any

  work1-2:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    env_file:
      - docker/patroni.env
    hostname: work1-2
    environment:
      <<: *haproxy_env
      PATRONI_NAME: "work1-2"
      PATRONI_CITUS_GROUP: "1"
    deploy:
      restart_policy:
        condition: any

  work2-1:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    env_file:
      - docker/patroni.env
    hostname: work2-1
    environment:
      <<: *haproxy_env
      PATRONI_NAME: "work2-1"
      PATRONI_CITUS_GROUP: "2"
    deploy:
      restart_policy:
        condition: any

  work2-2:
    image: ${PATRONI_TEST_IMAGE:-patroni-citus}
    networks:
      - swarmlab_net
    env_file:
      - docker/patroni.env
    hostname: work2-2
    environment:
      <<: *haproxy_env
      PATRONI_NAME: "work2-2"
      PATRONI_CITUS_GROUP: "2"
    deploy:
      restart_policy:
        condition: any
