# Airflow
logs/
plugins/__pycache__/
airflow.db
airflow.cfg
webserver_config.py

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
